@font-face {
  font-family: 'Lato';
  src: url('./lato/Lato-Light.ttf');
  font-weight: 100; 
}

@font-face {
  font-family: 'Lato';
  src: url('./lato/Lato-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./lato/Lato-Bold.ttf');
  font-weight: bold;
}


body {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('toronto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
  z-index: -1; 
}

a {
  text-decoration: none;
}

.logo{
  float: left; 
  height: 50px;
  width: 50px;
  margin-right: 10px;
  z-index: 10000;
}

.github-grey{

  float: left; 
  height: 50px;
  width: 50px;
  margin-right: 10px;
  transition: transform 0.15s ease-in;
}

.github-grey:hover{
  transform: scale(1.05);
}

.header {
  background-color: black;
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-left: 40%;
  gap: 1%;  
}

.name-button {
  font-size: 150%;
  font-family: 'lato';
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
  margin-left: 1%;
  margin-right: auto;
  
  background: linear-gradient(280deg, rgb(255, 153, 0) 0%, rgb(255, 242, 0) 35%, rgb(255, 60, 0) 100%);
  -webkit-background-clip: text;
  background-size: 300% 300%;
  animation: gradient 8s ease infinite;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.name-button:hover {
  transform: scale(1.02);
}

.button {
  font-size: 112%;
  font-family: 'lato';
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.2s ease-in-out, color 0.3s ease-in-out;
  color: grey;
}

.button.active {
  transform: scale(1.04);
  color: gold;
}
.button:hover {
  transform: scale(1.04);
  color: white;
}



.section-container {
  align-items: center;
  justify-content: center;
  min-height: 100%;
  max-height: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
  position: relative;
  color: white;
  text-align: center;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.section-container.visible {
  opacity: 1;
}


.experience-container:hover:before {
  opacity: 1;
}

.item-text{
  font-family: 'lato';
  font-weight: 100;
  font-size: 1.16em;
  text-align: left;
  z-index: 1000 !important;
}

.modal-text{
  font-family: 'lato';
  font-weight: 100;
  font-size: 1.15em;
  text-align: left;
}

#skills .item-container{
  vertical-align: top;

  border-radius: 1.75rem;
  padding-left: 2%;
  min-width: 40%;
  max-width: 40%;
  min-height: 260px !important;
  max-height: 260px !important;
  background: rgba(17, 17, 17, 0.8);
  border: 5px solid rgb(37, 37, 37);
  z-index: 1000 !important;
  opacity: 1; 
  position: relative; 
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
}

#skills .item-container:hover {
  transform: scale(1.01);
  border: 5px solid rgba(255, 215, 0, 0.8);
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.03);
  z-index: -1;
}

.item-container {
  z-index: 2;
  vertical-align: top;
  overflow: hidden;
  margin: 1%;
  border-radius: 1.75rem;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  min-width: 40%;
  max-width: 40%;
  min-height: 380px !important;
  max-height: 380px !important;
  background: rgba(17, 17, 17, 0.8);
  border: 5px solid rgb(37, 37, 37);
  z-index: 1;
  opacity: 1; 
  position: relative; 
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
}


.item-container:hover {
  transform: scale(1.01);
  border: 5px solid rgba(255, 215, 0, 0.8);
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.03);
}



.item-container:before {
  
  z-index: -5;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('shooting.gif');
  background-image: linear-gradient(
  45deg,
  hsla(118deg, 100%, 20%, 0.3) 0%,
  hsla(62deg, 100%, 41%, 0.3) 19%,
  hsla(40deg, 100%, 50%, 0.3) 39%,
  hsla(22deg, 100%, 50%, 0.3) 60%,
  hsla(36deg, 100%, 41%, 0.3) 80%,
  hsla(185deg, 100%, 50%, 0.3) 100%
);

  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
  transform: scale(1.01);
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: inherit; 
}

.item-container:hover:before {
  opacity: 1;
  height: 100%;
  width: 100%;
}
.item-title{
  font-family: 'lato';
  text-align: left;
  padding-left: 2.5px;
  font-size: 1.3rem;
  z-index: 10000;
}

.item-subtitle{
  font-family: 'lato';
  font-weight: 100;
  text-align: left;
  padding-left: 2.5px;
  padding-top: 2%;
  font-size: 1.7vh;
}

.section-title {
  margin-bottom: 1%;
  
  padding-left: 9.5%;
  text-align: left;
  background: linear-gradient(90deg, rgb(255, 153, 0) 0%, rgb(255, 242, 0) 35%, rgb(255, 60, 0) 100%);
  -webkit-background-clip: text;
  background-size: 300% 300%;
  animation: gradient 7s ease infinite;
  -webkit-text-fill-color: transparent;
  font-family: 'lato';
  font-weight: 800;
  font-size: 2.25rem;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.section-text {
  padding-left: 5%;
  padding-right: 5%;
  
  text-align: center;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 1.75em;
  text-shadow: 10px 10px 3px black; /* Increased shadow size and blur */

}

.static-txt{
  margin-top: 15%;
  text-align: centerr;
  z-index: 1;
  font-family: 'lato';
  font-size: 4rem;
  text-shadow: 1px 10px 10px 10px black;
}

.wrapper .dynamic-txts{
  z-index: 1;
  height: 105px;
  line-height: 91px;
  overflow: hidden;
}

.dynamic-txts li{
  z-index: 1;
  padding-right: 4.5%;
  list-style: none;
  color: gold;
  font-family: 'lato';
  font-size: 4.3rem;
  position: relative;
  top: 0;
  animation: slide 24s steps(8) infinite;
}

@keyframes slide {
  100%{
    top: -720px;
  }
}

.dynamic-txts li span{
  z-index: 1;
  position: relative;
  animation: typing 3s infinite;
}

@keyframes typing {
  0%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.headshot{
  height: 400px;
  border-radius: 6rem;
  transition: box-shadow 2.5s ease-in-out, transform 1s ease-in, transform 1s ease-out, border 2.5s ease-in-out;
}

.headshot:hover{
  transform: scale(1.15);
}

.proj-img{
  border-radius: 30px;
}

.about-me-title{
  margin-bottom: 1%;
  padding-right: 4%;
  text-align: center;
  background: linear-gradient(90deg, rgb(255, 153, 0) 0%, rgb(255, 242, 0) 35%, rgb(255, 60, 0) 100%);
  -webkit-background-clip: text;
  background-size: 300% 300%;
  animation: gradient 7s ease infinite;
  -webkit-text-fill-color: transparent;
  font-family: 'lato';
  font-weight: 800;
  font-size: 2.25rem;
}

.about-me-content {
  display: flex;
  align-items: center; 
  padding-left: 12%;
  padding-right: 12%;
  justify-content: center;
  gap: 15px; 
}

.hyperlink-imgs {
  
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));

}

.hyperlink-imgs:hover {
  color: gold;
  transform: scale(1.05); 
}

.bottom-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  gap: 20px;
}

.bottom-icons img {
  max-width: 50px; 
  max-height: 50px; 
  width: auto; 
  height: auto;
}

.modal {
  align-items: center;
  justify-content: center;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000 !important; 
  opacity: 0;
  visibility: hidden;
}

.modal-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s 0.5a;
}

.modal-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s 0.5s;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal-fade-in {
  visibility: visible;
  opacity: 1;
}

.modal-content {

  position: relative;
  z-index: 6000 !important;
  padding: 20px;
  min-height: 20%;
  max-height: 70%;
  min-width: 50%;
  max-width: 50%;
  border-radius: 20px;
  background-color: rgb(14, 14, 14);
  border: 2px solid white;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  z-index: 1001; 
  transition: transform 0.3s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.modal-content::-webkit-scrollbar {
  width: 4px;
  padding-left: 40px;
}

.modal-content::-webkit-scrollbar-track {
  background: transparent;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close-modal {
  z-index: 6001 !important;
  position: absolute;
  font-family: 'lato';
  font-weight: 800;
  top: 19px;
  right: 10px;
  background: transparent;
  color: black;
  background-color: white;
  border-radius: 800px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.copyright-text{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: 'lato';
  font-size: 10px;
  color: gold;
}

.flowchart-img{
  height: 90%;
  width: 90%;
  margin-top: 20px;
  border-radius: 15px;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {

  .item-text{
    font-size: 0.85rem;
  }
  
  .header {
    height: 66px; 
  }

  .about-me-title{
    padding-top: 400px;
  }

  .button-container{
    align-items: center !important;
    margin-right: 5%; 
    justify-content: center;
  }

  .name-button{
    visibility: hidden;
    margin-right: -300px;
  }

  .button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }

  .name-button, .button {
    font-size: 80%; 
  }

  #about-me .section-title{
    padding-top: 500px;
  }

  .static-txt{
    padding-top: 100px;
  }

  .section-container {
    margin-top: 15%;
    margin-bottom: 15%;
  }

  .headshot{
    padding-top: 400px;
    height: 250px !important; 
    width: auto !important;
    border-radius: 30% !important; 
  }

  .section-text{
    font-size: 20px;
  }

  .item-container {
    min-width: 80% !important; 
    max-width: 80% !important;
    min-height: 80% !important; 
    max-height: 80% !important; 
    padding: 5%; 
  }

  .section-title{
    padding-left: 11%;
  }

  .item-title{
    font-size: 1.1rem; 
  }

  .item-subtitle{
    font-size: 0.9rem; 
  }


  .modal-content {
    min-width: 60%;
    max-width: 60%;
  }

  .logo, .github-grey, .headshot {
    height: auto;
    width: auto; 
  }

  .bottom-icons img {
    max-width: 40px;
    max-height: 40px;
  }

  .logo{
    max-width: 60px;
    max-height: 60px;
  }

  .github-grey{
    max-width: 60px;
    max-height: 60px;
  }
}


@media only screen and (max-width: 481px) {

  
  .modal-text{
    font-family: 'lato';
    font-weight: 100;
    font-size: 0.85em;
    text-align: left;
  }

  .modal{
    min-width: 95% !important;
  }

 
  body::before{
    font-size: 14px; 
    background-image: url('toronto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; 
    background-position: center center;
  }


  
  #skills .item-title{
    text-shadow: 1px 1px 2px black;
  }

  .headshot {
    height: 100px !important; 
    margin-left: 5px;
    width: auto !important;
    border-radius: 30% !important; 
  }

  .static-txt{
    display: none;
  }

  .wrapper{
    display: none !important;
  }

  .logo{
    height: 40px !important;
    width: 40px !important;
  }

  .section-title {
    padding-left: 18%;
    font-size: 1.5rem !important;
  }

  .section-text {
    background: rgba(17, 17, 17, 0.8);
    padding: 12px;
    border: none;
    border-radius: 30px;
    font-size: 1.05em !important;
    text-shadow: 0px 0px 2px black;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  }

  
  
  .section-text{
    font-size: 1px;
    margin-bottom: 80px;
  }

 .item-text{
    display: none;
  }
  

  #skills .item-container {
    
    margin: 3px;
    margin-left: 20px;
    border: none;
    min-height: 80px !important;
    max-height: 80px !important;
    box-shadow: none;
    background-color: transparent;
  }

  #skills .item-container:before{
    background-image: none;
  }

  #skills .item-container:hover{
    transform: scale(1.03);
    border: none;
    box-shadow: none;
  }

  .skills-section .item-container {
    flex-basis: calc(33% - 10px); 
  }
  
  .header {
    display: none;
  }

  .section-container {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .item-title{
    font-size: 0.9rem;
  }

  .item-subtitle{
    font-size: 0.7rem;

  }

  .item-container {
    min-width: 78% !important; 
    min-height: 120px !important;
    max-height: 120px !important;
    padding-left: 5%;
    padding-right: 2%;
    margin: 5%;
    border: none;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  }

  .flowchart-img{
    margin-top: 15px;
    height: 70% !important;
    width: 100% !important;
    border-radius: 20px;
  }

  .about-me-content {
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }


  .bottom-icons img {
    position: relative;
    z-index: 5 !important;
    max-width: 5vh; 
    max-height: 5vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
    height: auto;
  }

  .copyright-text{
    position: relative;
    z-index: 5 !important;
  }

}
